
<div class="container mx-auto">
	<section class="bg-white w-1/2 p-4 mb-4 rounded-sm">	
		<article class="w-full text-center list-reset">
			<img class="h-18 w-18 rounded-full" src="{{ asset('assets/images/avatar.jpg') }}" alt="">
			<h3 class="mt-4 mb-4 ">John Doe</h3>
			<p>aka / alias</p>
			<p class="font-bold text-2xl">Jondoe</p>
		</article>

		<div id="details" class="mt-4 ">
			<h5>First name</h5>
		</div>
	</section>		
</div>