 
<div v-if="criminal.crimes.length === 0" class="flex inline-block w-full">
<select v-model="inputs.crime_id" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal">
  <option v-for="crimes in crimes">{{ crimes.criminal_offense }} </option>
</select>
<div class="ml-4 w-3/5">      
  <input type="text" v-model="inputs.name" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="Attribute Details" required>
</div>
<span class="mr-2">
  <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)">
  </i>
</span>
</div>
<div class="w-full inline-block" v-else>
<div v-for="(ccrime,i) in criminal.crimes">
  <p>{{ crimes.criminal_offense }} </p>
  <div class="flex inline-block">
    <select v-model="criminal.crimes[i].criminal_offense" class="hover:bg-grey-lightest bg-grey-lighter w-1/3 mb-2 p-2 leading-normal">
      <option v-for="crime in crimes" :value="crime.criminal_offense">{{ crime.criminal_offense }} </option>
    </select>
    <div class="flex inline-block w-full">
      <div class="ml-4 w-full">     
        <input type="text" :value="ccrime.description" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="Crime Details" required>
      </div>
      <span class="mr-2">
        <i class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && inputs.length > 1)">
        </i>
      </span>
    </div>
  </div>
</div>
</div>


<script>
new Vue({
el: "#app",
data: {
  input: {
    convictions: [
    { conviction_id: 2, comment: 'First ever conviction.' }
    ]
  }
},
methods: {
  addConviction: function(){
    this.input.convictions.push({ conviction_id: 1, comment: '' })
  }
},
computed: {
  convictionTypes() {
    return [
    { id: 1, label: 'Conviction 1' },
    { id: 2, label: 'Conviction 2' },
    { id: 3, label: 'Conviction 3' }
    ]
  }
}
});
</script>
<style>
body {
background: #20262E;
padding: 20px;
font-family: Helvetica;
}

#app {
background: #fff;
border-radius: 4px;
padding: 20px;
transition: all 0.2s;
}

li {
margin: 8px 0;
}

h2 {
font-weight: bold;
margin-bottom: 15px;
}

del {
color: rgba(0, 0, 0, 0.3);
}</style>