/*
 @font-face {
	font-family : 'Source Sans Pro';
	src: url(../assets/fonts/sans/SourceSansPro-Regular.ttf) format('truetype');
	font-style: normal;
	@apply .font-normal; 
}

@font-face {
	font-family : 'Source Sans Pro';
	src: url(../assets/fonts/sans/SourceSansPro-Light.ttf) format('truetype');
	font-style: normal;
	@apply .font-light  ;

}

@font-face {
	font-family : 'Source Sans Pro';
	src: url(../assets/fonts/sans/SourceSansPro-SemiBold.ttf) format('truetype');
	font-style: normal;
	@apply .font-semibold ;

}
@font-face {
	font-family : 'Source Sans Pro';
	src: url(../assets/fonts/sans/SourceSansPro-Italic.ttf) format('truetype');
	font-style: normal;
	@apply .font-normal ;  

}

@font-face {
	font-family : 'Source Sans Pro';
	src: url(../assets/fonts/sans/SourceSansPro-Bold.ttf) format('truetype');
	font-style: normal;
	@apply .font-bold ;

}
@font-face {
	font-family : 'Source Sans Pro';
	src: url(../assets/fonts/sans/SourceSansPro-Black.ttf) format('truetype');
	font-style: normal;
	@apply .font-black ;

} 
*/