<section class="w-full ml-12">
	<p class="font-basic tracking-normal text-3xl mb-4 mt-4 font-normal text-black ml-6">Edit Criminal Page
	</p>
	<div class="bg-white p-6 shadow-md w-3/4">
		<form id="setup-billing-form" @submit.prevent="updateProfile"  method="POST">
			<div class="input-group mb-6">
				<h3 class="text-lg font-sans">Update Criminal Information of {{ criminal.full_name }}</h3>
			</div>	
			<div class="flex inline-block mt-4">
				<div class="input-group w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Criminals' Full / Display Name
					</label>	
					<input type="text" v-model="form.full_name" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin"  autocomplete="name" placeholder="5000" required>
				</div>
				<div class="ml-2 w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">
						Alias
					</label>
					<input type="text" v-model="this.criminal.alias" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="5000" required>
				</div>
			</div>

			<div class="flex inline-block">
				<div class="w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">First Name
					</label>	
					<input type="text" v-model="form.first_name" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="5000" required>
				</div>
				<div class="ml-2 w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">
						Middle Name
					</label>
					<input type="text" v-model="form.middle_name" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="5000" required>
				</div>
				<div class="ml-2 w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">
						Last Name
					</label>
					<input type="text" v-model="form.last_name" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="5000" required>
				</div>
			</div>

			<div class="flex inline-block">
				<div class="w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Contact Number**
					</label>
					<input type="text" v-model="form.contact_number" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="5000" required>
				</div>

				<div class="ml-2 w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Status
					</label>
					<select v-model="form.status" class="bg-grey-lighter w-full mb-2 p-2 leading-normal" name="" id="" >
						<option value="1">At Large</option>
						<option value="0">Captured</option>							
					</select>
				</div>
			</div>

			<div class="flex inline-block">
				<div class="w-3/5">	
					<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Birthplace
					</label>
					<places
					v-model="form.birthplace"
					class="bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin"
					placeholder="Enter the full location details"
					@change="val => { form.birthplace = val }">
				</places>
			</div>

			<div class="ml-4 w-3/5">	
				<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Last Seen in 
				</label>
				<input type="text" v-model="form.last_seen" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="5000" required>
			</div>
		</div>	
		<div class="flex inline-block">
			<div class="w-3/5">	
				<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Birthdate
				</label>
				<datepicker input-class="{ hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal }" v-model="form.birthdate" format="YYYY-M-D" name="date2"></datepicker>
			</div>
			<div class="ml-4 w-3/5">	
				<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Eye Color 
				</label>
				<input type="text" v-model="form.eye_color | capitalize" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="5000" required>
			</div>
		</div>

		<div class="flex inline-block">
			<div class="w-3/5">	
				<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Weight In Kilos / Lbs ( Just specify )
				</label>
				<input type="text" v-model="form.weight" class="hover:bg-grey-lightest bg-grey-lighter mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" placeholder="any number like 50" required>
			</div>
			<div class="ml-4 w-3/5">	
				<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Height(just specify)
				</label>
				<input placeholder="168cm" type="text" v-model="form.height_in_cm" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" id="pin" name="pin" autocomplete="name" required>
			</div>
		</div>	

		<div class="flex inline-block mt-2 mb-2">
			<div class="w-full">
				<label for="avatar" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Update the photo of this criminal :
				</label>
				<div class="card-body">
					<div class="row">
						<div class="col-md-6" v-if="form.avatar">
							<img :src="form.avatar" class="img-responsive" height="70" width="90" alt="Criminal Photo">
						</div>
						<div class="col-md-6">
							<input type="file" name="avatar" id="avatar" v-on:change="onAvatarChange" class="form-control">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="w-full flex">
			<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">List all the Crimes for this Criminal
			</label> 
		</div>
		
		<!-- if there are crimes for this person -->
		<div v-if="input.crimes.length">
			<div v-for="(crime, index) in input.crimes" :key="index">
				<div class="flex w-full inline-block">
					<select v-model="crime.id" class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal w-1/3">
						<option class="hover:bg-grey-lightest bg-grey-lighter w-full mb-2 p-2 leading-normal" v-for="(option,index) in crimeTypes" :value="option.id" :key="">
							{{ option.criminal_offense }}
						</option>
					</select>
					<input class="hover:bg-grey-lightest bg-grey-lightest w-full mb-2 p-2 leading-normal w-1/2" type="text" v-model="crime.description"/>
					<span class="ml-2"><button @click="$delete(input.crimes, index)"><i class="fas fa-minus-circle"></i></button></span>
				</div>
			</div>
			<!-- <input type="text" v-model="crime.description"> -->
		</div>

		<!-- if there is none then just display the textbox -->
		<div v-else>
			<h3>There are no crimes for this guy</h3>
		</div>

		<span>
			<button class="bg-blue-dark text-white p-3 mb-2" @click.prevent.stop="addNewCrime()">Add new Crime
			</button>
		</span>  

		<label for="name" class="block uppercase tracking-wide text-black-v2 text-xs font-bold mb-2">Complete Background and Details
		</label>

		<div class="flex inline-block">
			<VueTrix
			class="editor1" 
			inputId="editor1"
			@trix-change="handleEditorChange"
			@trix-attachment-remove="handleAttachmentRemove"
			@trix-attachment-add="handleAttachmentAdd"
			v-model="form.complete_description"
			/>
		</div>

		<div class="mt-4 w-full text-center">
			<button type="submit" :disabled="isLoading" class="p-4 hover:bg-purple bg-blue w-3/4 font-bold text-white">Save Criminal</button>
		</div>
	</form>
</div>	
</div>
</section>